/*  your css code here. If applicable */
.middle{
    border-spacing: 1px;
    border: 1px solid black;
    width: 94vw;
    margin: auto;
}
#t12{
	
}
#t13{
	
}
 #t21{
	 colspan="6";
 }   
.empty_space{
    height:20px;
}

#table-1{
    /* it merges borders of tables and cells */
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
.center{
    text-align: center;
}

.right{
    text-align: right;
}
#t3r1c1{
    background-color: green;
}
#t-image{
	
}
.-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#t3r3c1{
    background-color: blue;
}